<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/index.css">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/navbar.css">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/section1.css">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/section2.css">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/section3.css">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/section4.css">
    
    <title>Personal portfolio</title>
</head>
<body>
    <nav class="navbar">
      
        <ul class="menu-items">
            <li><a href="#home" onclick="scrollToSection('home')">Home</a></li>
            <li><a href="#education" onclick="scrollToSection('education')">Education</a></li>
            <li><a href="#skills" onclick="scrollToSection('skills')">Skills</a></li>
            <li><a href="#projects" onclick="scrollToSection('projects')">Projects</a></li>
            <li><a href="/rudra-patel-v1/src/img/rudra_resume.pdf" download="rudra_resume.pdf">Resume</a>
            </li>
        </ul>
        
    </nav>
    

<div class="sections">
    <section id="home" class="section1">
            <div class="intro">
                <h1>Welcome to My World of Innovation!</h1>
                <h2>I'm Rudra Patel, a Passionate Software Developer</h2>
                <p>My strength lies in converting concepts into robust, streamlined, and user-friendly solutions.
                   Currently pursuing a Bachelor's degree in Computer Science at Rutgers University,
                   I am on the lookout for exciting software development opportunities to contribute my skills
                   and creativity.</p>
                <p>With a solid foundation in programming languages like Java, C, C++, and Python, along with hands-on experience in database systems, web technologies, and version control using Git, I bring a versatile skill set to the table.</p>
                <p>Let's collaborate on projects that push boundaries, leverage cutting-edge technologies, and make a lasting impact.</p>
        
        
            </div>
            <div class="me">

                <div class="connect">
                    <ul class="logos">
                        <li class="logo"><a href="https://www.linkedin.com/in/rrp3827/"><img src="/rudra-patel-v1/src/img/linkedin.png" alt=""></a></li>
                        <li class="logo"><a href="https://github.com/rrp432/"><img src="/rudra-patel-v1/src/img/github.png" alt=""></a></li>
                        <li class="logo"><a class="show-contact" data-type="phone"><img src="/rudra-patel-v1/src/img/phone.png" alt=""></a></li>
                        <li class="logo"><a class="show-contact" data-type="email"><img src="/rudra-patel-v1/src/img/email.png" alt=""></a></li>
                    </ul>
                </div>
                <div id="contact-info" class="contact-info" style="display: none;"></div>  
            </div>
               
    
    </section>

    <section id="education" class="section2">
        <h1>Education</h1>
        <a class="expand-button" onclick="toggleSection()"> Read more</a>
        <div class="expanded-content" id="expandedContent" style="display: none;">
            <div class="timeline">
                <div class="timeline-line"></div>
                <div class="timeline-node-container">
                    <div class="course-details">
                        <p>Fall '20</p>
                        <ul>
                            <li>Programming in C++</li>
                            <li>Computer Logic & Discrete Math</li>
                            <li>Precalculus</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-node-container">
                    <div class="course-details">
                        <p>Spring '21</p>
                        <ul>
                            <li>Programming in C++ II</li>
                            <li>College Compositon I</li>
                            <li>Calculus I</li>
                        </ul>
                    </div>
                </div>
                
                <div class="timeline-node-container">
                    <div class="course-details">
                        <p>Summer I '21</p>
                        <ul>
                            <li>College Student Success</li>
                            <li>Calculus II</li>
                        </ul>
                    </div>
                </div>

                <div class="timeline-node-container">
                    <div class="course-details">
                        <p>Summer II '21</p>
                        <ul>
                            <li>Colleg Comp II</li>
                            <li>Speech</li>
                        </ul>
                    </div>
                </div>
    
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Fall '21</p>
                        <ul>
                            <li>Database Design and Concepts</li>
                            <li>Java Programming</li>
                            <li>DS & Algorithms</li>
                            <li>Principles Of <br> Macroeconomics</li>
                            <li>Engineering Physics I</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Winter '22</p>
                        <ul>
                            <li>Cultures & Values</li>
                        </ul>
                    </div>
                </div>

                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Spring '22</p>
                        <ul>
                            <li>Cybersecurity</li>
                            <li>Calculus III</li>
                            <li>Principles of Sociology</li>
                            <li>Data Structures And Adavance</li>
                            <li>Introduction to Operating Systems</li>
                        </ul>
                    </div>
                </div>
                
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Fall '22</p>
                        <ul>
                            <li>OOPS</li>
                            <li>Java Programming</li>
                            <li>DS & Algorithms</li>
                            <li>Computer Architecture</li>
                            <li>R Programming</li>
                        </ul>
                    </div>
                </div>
        
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Spring '23</p>
                        <ul>
                            <li>OOPS</li>
                            <li>Java Programming</li>
                            <li>MS Access</li>
                            <li>Cybersecurity</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Fall '23</p>
                        <ul>
                            <li>OOPS</li>
                            <li>Java Programming</li>
                            <li>MS Access</li>
                            <li>Cybersecurity</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-node-container">
                      <div id = "CurrTerm"class="course-details">
                        <p>Spring '24</p>
                        <ul>
                            <li>Software Methodology</li>
                            <li>Systems Programming</li>
                            <li>Principles of Programming<br>Languages</li>
                            <li>Numerical Analysis Computing</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-node-container">
                      <div class="course-details">
                        <p>Fall '24</p>
                        <ul>
                            <li>Design Analysis</li>
                            <li>Elective I</li>
                            <li>Physics II</li>
                            <li>Elective I</li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        
        
    </section>
    

    <section id="skills" class="section3">
        <h1>Skills</h1>
        <div class="SkillsContainer">
            <ul class="programmingLang">
                <li><a>Java</a></li>
                <li><a>Python</a></li>
                <li><a>C++</a></li>
                <li><a>C</a></li>
            </ul>
            <ul class="databaseSystems">
                <li><a>MySQL</a></li>
                <li><a>Microsoft Access</a></li>
                <li><a>Oracle SQL</a></li>
            </ul>
            <ul class="webTechnologies">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>Bootstrap</a></li>
                <li><a>JavaScript</a></li>

                <li><a>Git</a></li>
                <li><a>Php</a></li>
            </ul>
        </div>
    </section>



    <section id="projects" class="section4">
        <h1>Projects</h1>
            <div class="projects-type">
                <div class="project"> 
                    <h2 class="project-heading">Notes</h2>
                    <p class="project-meta">
                        A simple note-taking application that allows me to create, edit, save, and delete notes for my skills. The app is built using HTML5, CSS3, JavaScript, and PHP with a MySQL database for data storage.
                    </p>
                    <div class="tags">
                        <a>JavaScript</a>
                        <a>Html5</a>
                        <a>Css3</a>
                        <a>Python</a>
                       
                    </div>
                      <span class="completion-date">Completion Date: TBD</span>
                </div>
                
                <div class="project"> 
                    <h2 class="project-heading">ChatBot</h2>
                    <p class="project-meta">
                        A chatbot designed to assist users in answering common questions about my portfolio. It uses natural language processing (NLP) techniques such as keyword extraction and sentiment analysis.
                    </p>
                    <div class="tags">
                        <a>JavaScript</a>
                        <a>Html5</a>
                        <a>Css3</a>
                        <a>Python</a>
                    </div>
                    <span class="completion-date">Completion Date: TBD</span>
                </div>

                <div class="project"> 
                    <h2 class="project-heading">Two Factor Authentication</h2>
                    <p class="project-meta">
                        Two Factor Authentication (2FA) web application developed using Python's Flask-Ask library. This project was created as an exercise to understand how two-factor authentication works within a web application framework.
                        The idea is to allow a user with the appropriate code to add a div.
                    </p>
                    <div class="tags">
                        <a>JavaScript</a>
                        <a>Html5</a>
                        <a>Css3</a>
                        <a>Python</a>
                    </div>
                    <span class="completion-date">Completion Date: TBD</span>
                </div>

                <div class="project"> 
                    <h2 class="project-heading">Music Database Design and Querying</h2>
                    <p class="project-meta">
                        I designed and implemented a relational database for a music service, akin to Spotify or Amazon Music, using SQLite and SQL. The database features tables for artists, albums, songs, users, playlists, and ratings, minimizing data redundancy through foreign keys and normalization.
                    </p>
                    <div class="tags">
                        <a>Python</a>
                        <a>SQLite</a>
                        <a>SQL</a>
                        <a>Database Schema Design</a>
                        <a>Query Optimization</a>
                    </div>
                     <span class="completion-date">Completion Date: Fall'23</span>
                </div>

                <div class="project"> 
                    <h2 class="project-heading">Kindergarten Classroom Simulation</h2>
                    <p class="project-meta">
                        I developed a comprehensive project using Singly Linked Lists, 2D arrays, and Circular Linked Lists to model classroom activities. The simulation efficiently manages student entry, seating arrangements, and a musical chairs game. It implements fair student seating logic based on seating availability and height order, enhancing gameplay realism.
                    </p>
                    <div class="tags">
                        <a>Java</a>
                        <a>OOPs</a>
                        <a>Linked List</a>
                        <a>Arrays</a>
                    </div>
                     <span class="completion-date">Completion Date: Spring'23</span>
                </div>

                <div class="project"> 
                    <h2 class="project-heading">Huffman Coding for Text Data Compression</h2>
                    <p class="project-meta">
                        I designed and implemented a highly efficient Huffman Coding algorithm in Java, achieving up to a 60% reduction in file sizes. The implementation ensures data integrity throughout the compression process, showcasing advanced expertise in algorithmic efficiency and accuracy. Graph traversal algorithms (DFS and BFS) were applied for efficient exploration and analysis of graph structures.
                    </p>
                    <div class="tags">
                        <a>Java</a>
                        <a>OOPs</a>
                        <a>Graph</a>
                        <a>Trees</a>
                        <a>Array</a>
                    </div>
                     <span class="completion-date">Completion Date: Spring'23</span>
                </div>

            <div class="project">
                <h2 class="project-heading">Infinity War</h2>
                <p class="project-meta">
                    Leveraging advanced graph algorithms and implementing adjacency matrices, this project tackles intricate challenges. Java classes were designed and created for seamless input/output, utilizing advanced data structures like Array Lists and HashMap for efficient data management.
                </p>
                <div class="tags">
                    <a>Java</a>
                    <a>OOPs</a>
                    <a>Graph</a>
                    <a>HashMap</a>
                    <a>Array</a>
                </div>
                 <span class="completion-date">Completion Date: Spring'23</span>
            </div>
            
        </div>
    </section>
    <section id="feedback" class="feedback-section">
        <h1>Feedback Form</h1>
        <form id="feedbackForm">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
    
            <label for="feedback">Your Feedback:</label>
            <textarea id="feedback" name="feedback" rows="4" required></textarea>
    
            <button type="submit">Submit Feedback</button>
        </form>
    </section>
 
    
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Rudra Patel. All rights reserved.</p>
        <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href= "#" onclick="scrollToSection('contact')">Contact</a></li>
        </ul>
    </div>
</footer>
<script src="/rudra-patel-v1/src/js/scroll.js"></script>
<script src="/rudra-patel-v1/src/js/index.js"></script>

</body>
</html>
