<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/styles.css">
    <link rel="icon" href="/rudra-patel-v1/src/img/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/rudra-patel-v1/src/img/logo.ico" type="image/x-icon">
    <title>Rudra portfolio</title>
</head>
<body>
   
    
    <nav class="navbar">   
        <ul class="menu-items">
            <li><a href="#home" onclick="scrollToSection('home')">Home</a></li>
            <li><a href="#education" onclick="scrollToSection('education')">Education</a></li>
            <li><a href="#skills" onclick="scrollToSection('skills')">Skills</a></li>
            <li><a href="#projects" onclick="scrollToSection('projects')">Projects</a></li>     
        </ul>   
    </div>
    </nav>
   

    
<div class="sections">


 <section id="home" class="section1">

    
    <div class="intro">
        
         <div class="dark-mode-toggle">
       
        <input type="checkbox" id="darkModeCheckbox" class="slider-checkbox">
        <label for="darkModeCheckbox" class="slider"></label>
    </div>
    <img src="/rudra-patel-v1/src/img/logo.png" alt="Rudra Patel" class="profile-image-small"> 

       <h1>Transforming Ideas into Innovative Solutions</h1>
      <br>
    <h2 class="typing-demo"></h2>
        <p>A passionate software developer with a knack for turning concepts into robust, user-friendly solutions. Currently pursuing a Bachelor's degree in Computer Science at Rutgers University, I'm eager to contribute my skills and creativity to exciting software development projects.</p>
    <p>With expertise in <span c>Java</span>
        , <span>C++</span>,
         <span >Python</span>,
          and <span >database systems</span>,
           along with hands-on experience in web technologies and version control using <span>Git</span>, I offer a <span>versatile skill</span> set ready to tackle any challenge. Let's collaborate on projects that push boundaries and make a lasting impact!</p>
        <div class="connect">
            <ul class="logos">
                <li class="logo" data-tooltip="LinkedIn"><a href="https://www.linkedin.com/in/rrp3827/"><img src="/rudra-patel-v1/src/img/linkedin.png" alt=""></a></li>
                <li class="logo" data-tooltip="GitHub"><a href="https://github.com/rrp432/"><img src="/rudra-patel-v1/src/img/github.png" alt=""></a></li>
                <li class="logo" data-tooltip="Email"><a class="show-contact" data-type="email"><img src="/rudra-patel-v1/src/img/email.png" alt=""></a></li>
                <li class="logo" data-tooltip="Resume"><a href="/rudra-patel-v1/src/img/rudra_resume.pdf"><img src="/rudra-patel-v1/src/img/download.png" alt=""></a></li>
            </ul>  
            <div id="contact-info" class="contact-info" style="display: none;"></div>  

        </div>
        <br>
    </div>
    <div class="me">
        <img src="/rudra-patel-v1/src/img/logo.png" alt="Rudra Patel" class="profile-image">
    </div>
</section>




    <section id="skills" class="section3">
        <h1>Skills</h1>
        <div class="SkillsContainer">
            <ul class="programmingLang">
                <li><a>Java</a></li>
                <li><a>Python</a></li>
                <li><a>C++</a></li>
                <li><a>C</a></li>
            </ul>
            <ul class="databaseSystems">
                <li><a>MySQL</a></li>
                <li><a>Microsoft Access</a></li>
                <li><a>Oracle SQL</a></li>
            </ul>
            <ul class="webTechnologies">
                <li><a>HTML</a></li>
                <li><a>CSS</a></li>
                <li><a>Bootstrap</a></li>
                <li><a>JavaScript</a></li>

                <li><a>Git</a></li>
                <li><a>Php</a></li>
            </ul>
        </div>
    </section>
    <section id="education" class="section2">
    <h1>Education</h1>
    <a class="expand-button" onclick="toggleSection()"> Read more</a>
    <div class="expanded-content" id="expandedContent" style="display: none;">
        <div class="timeline" id="educationTimeline">
            <!-- Timeline nodes will be dynamically added here using JavaScript -->
        </div>
    </div>
</section>


    <section id="projects" class="section4">
        <h1>Projects</h1>
        <div class="projects-type">  
            <!-- Projects will be dynamically added here by JavaScript -->
        </div>
    </section>
    
    
    

    
    
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Rudra Patel. All rights reserved.</p>
        <ul class="footer-links">
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Service</a></li>
            <li><a href= "#" onclick="scrollToSection('contact')">Contact</a></li>
        </ul>
    </div>
</footer>

<script src="/rudra-patel-v1/src/js/index.js"></script>
<script src="/rudra-patel-v1/src/js/scroll.js"></script>
<script src="/rudra-patel-v1/src/js/proj.js"></script>
<script src="/rudra-patel-v1/src/js/edu.js"></script>




</body>
</html>
