<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/rudra-patel-v1/src/css/styles.css">
    <link rel="icon" href="/rudra-patel-v1/src/img/logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/rudra-patel-v1/src/img/logo.ico" type="image/x-icon">
    <title>Rudra portfolio</title>
</head>

<body>

    <div class="loading-overlay">
        <h1 class="loading-element">
            <span class="loading let1">l</span>
            <span class="loading let2">o</span>
            <span class="loading let3">a</span>
            <span class="loading let4">d</span>
            <span class="loading let5">i</span>
            <span class="loading let6">n</span>
            <span class="loading let7">g</span>
        </h1>
    </div>
<nav class="navbar">
    <ul class="menu-items">
        <li><a href="#home" onclick="scrollToSection('home'); return false;">Home</a></li>
        <li><a href="#education" onclick="scrollToSection('education'); return false;">Education</a></li>
        <li><a href="#skills" onclick="scrollToSection('skills'); return false;">Skills</a></li>
        <li><a href="#projects" onclick="scrollToSection('projects'); return false;">Projects</a></li>
        <li><a href="#leetcode" onclick="scrollToSection('leetcode'); return false;">LeetCode</a></li>
    </ul>
   
</nav>





    <div class="sections">
        

        <section id="home" class="section1">

            <div class="intro">
               
                

                <img src="/rudra-patel-v1/src/img/logo.png" alt="Rudra Patel" class="profile-image">

                <h1>Transforming Ideas into Innovative Solutions &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;</h1>
               
                <h2 style="display: block"; class="typing-demo">This is typing demo</h2>
                <p>A passionate software developer with a knack for transforming ideas into robust,
                    user-friendly solutions.
                    Currently, I'm a senior pursuing a Bachelor's degree in Computer Science at Rutgers University. I am
                    eager to
                    leverage my skills and creativity in exciting software development projects.</p>

                <p>My journey in technology started with a deep curiosity for crafting impactful solutions. I am
                    proficient in
                    programming languages such as <span>Java</span>, <span>C++</span>, and <span>Python</span>, and I
                    have experience
                    building efficient <span>database systems</span>. Additionally, I am well-versed in web technologies
                    and version
                    control using <span>Git</span>, offering a <span>versatile skill set</span> ready to tackle any
                    challenge.</p>

                <p>When I'm not coding, I love exploring new places, enjoying sports, and seeking adventures. My passion
                    for travel and
                    sports fuels my creativity and keeps me balanced, always ready to take on projects that push
                    boundaries and make a
                    lasting impact.</p>

                <div class="connect">
                    <ul class="logos">
                        <li class="logo" data-tooltip="LinkedIn"><a href="https://www.linkedin.com/in/rrp3827/"><img
                                    src="/rudra-patel-v1/src/img/linkedin.png" alt=""></a></li>
                        <li class="logo" data-tooltip="GitHub"><a href="https://github.com/rrp432/"><img
                                    src="/rudra-patel-v1/src/img/github.png" alt=""></a></li>
                        <li class="logo" data-tooltip="Email"><a class="show-contact" data-type="email"><img
                                    src="/rudra-patel-v1/src/img/email.png" alt=""></a></li>
                        <li class="logo" data-tooltip="Resume"><a href="/rudra-patel-v1/src/img/rudra_resume.pdf"><img
                                    src="/rudra-patel-v1/src/img/download.png" alt=""></a></li>
                    </ul>
                    <div id="contact-info" class="contact-info" style="display: none;"></div>
                </div>
                <br>
                <div class="dark-mode-toggle">
                    <input type="checkbox" id="darkModeCheckbox" class="slider-checkbox">
                    <label for="darkModeCheckbox" class="slider"></label>
                
                </div>
            </div>

            

        </section>





        <section id="skills" class="section3">
            <h1>Skills</h1>
            <div class="SkillsContainer">
                <ul class="programmingLang">
                    <li><a>Java</a></li>
                    <li><a>Python</a></li>
                    <li><a>C++</a></li>
                    <li><a>C</a></li>
                    <li><a>R</a></li> <!-- Add R to programming languages -->
                    <li><a>MATLAB</a></li> <!-- Add MATLAB to programming languages -->
                    <li><a>Maple</a></li> <!-- Add Maple to programming languages -->
                    <li><a>Android Development</a></li> <!-- Add Android Development to programming languages -->
                </ul>
                <ul class="databaseSystems">
                    <li><a>MySQL</a></li>
                    <li><a>Microsoft Access</a></li>
                    <li><a>Oracle SQL</a></li>
                    <li><a>PostgreSQL</a></li> <!-- Add PostgreSQL to database systems -->
                    <li><a>MongoDB</a></li> <!-- Add MongoDB to database systems -->
                </ul>
                <ul class="webTechnologies">
                    <li><a>HTML</a></li>
                    <li><a>CSS</a></li>
                    <li><a>Bootstrap</a></li>
                    <li><a>JavaScript</a></li>
                    <li><a>PHP</a></li> <!-- Fix 'Php' to 'PHP' -->
                    <li><a>Git</a></li>
                </ul>
                <ul class="softSkills">
                    <li><a>Problem Solving</a></li>
                    <li><a>Time Management</a></li>
                    <li><a>Critical Thinking</a></li>
                    <li><a>Collaboration</a></li>
                    <li><a>Public Speaking</a></li>
                </ul>
            </div>
        </section>

        <section id="education" class="section2">
            <h1>Education</h1>
            <div class="section2">
                <div class="timeline-container"></div>
            </div>
        </section>

        <section id="projects" class="section4">
            <h1>Projects</h1>
            <div class="projects-type">
                <!-- Projects will be dynamically added here by JavaScript -->
            </div>
        </section>

        <section id="leetcode" class="section5">
            <!-- LeetCode section content -->
        </section>

        <footer>
            <div class="footer-content">
                <p>&copy; 2024 Rudra Patel. All rights reserved.</p>
                <ul class="footer-links">
                    <li><a>Privacy Policy</a></li>
                    <li><a>Terms of Service</a></li>
                    <li><a href="#home" onclick="scrollToSectionHeading('contact'); return false;">Contact</a></li>
                </ul>
            </div>
        </footer>

        <script src="/rudra-patel-v1/src/js/index.js"></script>
        <script src="/rudra-patel-v1/src/js/scroll.js"></script>
        <script src="/rudra-patel-v1/src/js/proj.js"></script>
        <script src="/rudra-patel-v1/src/js/edu.js"></script>
     
        <script>
            // Hide the loading overlay after 5 seconds
            setTimeout(function () {
                document.querySelector('.loading-overlay').style.display = 'none';
            }, 1500);
        </script>



</body>

</html>