/* Default styles for larger screens */
.navbar {
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.06);
    top: 3px;
    right: 0;
    backdrop-filter: blur(100px);
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.navbar .menu-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    margin: 2px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-bottom: 2px;
}

.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: small;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: solid 2px rgba(10, 10, 10, 0);
    border-radius: 30px;
}

.navbar a:hover {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.901);
    border: solid 2px #ffffff;
    border-radius: 20px;
}

.navbar a:focus,
.navbar a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(135, 122, 148);
    border: solid 2px #ffffffe0;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 1s ease;
}

/* Media query for smaller screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
    .navbar {
      display: none;
       }
    
}
