.section3 {
    
    background: linear-gradient(135deg, #3494e6, #be7849);
    width: auto;
}

.section3 h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 2em;
    position: relative;
}
.section3 .SkillsContainer{
    margin: 0 2em 2em 2em;

}
.section3 ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: 0;
    
}

.section3 ul li {
    list-style-type: none;
    margin-bottom: 2vh;
    padding: 8px;
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0);
}

.section3 ul li a {
    padding: 2vh;
    transition: background-color 0.3s, color 0.3s; /* Added transition for a smoother hover effect */
   
}

.section3 li:hover
{
    border: solid 2px white;
}

.programmingLang li:hover {
    background: linear-gradient(to right, #4e54c8, #8f94fb); /* Adjust colors as needed */
    color: #ffffff; /* Text color on hover */
    
  }
  
  .databaseSystems li:hover {
    background: linear-gradient(to right, #f2994a, #f2c94c); /* Adjust colors as needed */
    color: #fff; /* Text color on hover */
  }
  
  .webTechnologies li:hover {
    background: linear-gradient(to right, #56ccf2, #2f80ed); /* Adjust colors as needed */
    color: #fff; /* Text color on hover */
  }
  .section3 ul li:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.334);
    transform: scale(1.10);
}

@media only screen and (max-width: 768px) {
    .section3 h1 {
        margin-bottom: 0;
    }

    .section3 .SkillsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0; /* Adjusted margin for better alignment */
        width: 90%; /* Increased width for better utilization of space */
        
    }

    .section3 .SkillsContainer ul {
        margin-top: 1em;
        
    }

    .section3 .SkillsContainer ul li {
        margin: 0; /* Reduced margin for better spacing between skills */
        padding: 0;
        margin-bottom:0 ;
    }

    .section3 .SkillsContainer ul li a {
        padding: 10px; /* Increased padding for better touch interaction */

        border-radius: 30px;
        background-color: #4e54c800;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow for a subtle effect */
        color: #f4f4f4;
        display: block; /* Ensured full width for better click/tap area */
        text-align: center; /* Centered text within the button */
        transition: background-color 0.3s, color 0.3s; /* Added transition for a smoother hover effect */
    }
}
