/* Default styles for larger screens */
.navbar {
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
    right: 0;
    backdrop-filter: blur(80px);
    transition: background-color 0.3s ease;
}

.navbar .menu-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5vh;
    margin: 2px;
    padding-right: 2em;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-bottom: 2px;
}

.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(43, 134, 105);
    transition: background-color 0.3s ease, color 0.3s ease, border-radius .2s ease;
    
}


.navbar a:focus,
.navbar a:active {
    color: rgb(10, 250, 174);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 24px rgba(0, 0, 0, 0.1),
    0 32px 48px rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
    .navbar {
      display: none;
       }
    
}
