/* Default styles for larger screens */
.navbar {
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 159, 0.114);
    right: 0;
    backdrop-filter: blur(900px);
    transition: background-color 0.3s ease;
}

.navbar .menu-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5vh;
    margin: 2px;
    padding-right: 2em;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-bottom: 2px;
}

.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
}

.navbar a:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(43, 134, 105);
    transition: background-color 0.3s ease, color 0.3s ease, border-radius .2s ease;
    
}


.navbar a:focus,
.navbar a:active {
    color: rgb(10, 250, 174);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 24px rgba(0, 0, 0, 0.1),
    0 32px 48px rgba(0, 0, 0, 0.1);
}
.navbar .profile-image{
    display: none;
}


/* Media query for smaller screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
    .navbar {
        position: fixed;
        top:92%;
        border-radius: 2vh;
        width: 100%;
        max-width: 100%;
        height: 60px; /* Adjust height as needed */
        background-color: rgb(0, 0, 0); /* Adjust background color */
        z-index: 1000;
        
    }

    .navbar .menu-items {
        display: flex;
        justify-content: space-around; /* Center-align and distribute menu items evenly */
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .navbar a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 14px; /* Adjust font size as needed */
        padding: 10px;
        transition: color 0.3s ease;
    }

    .navbar a:hover {
        color: rgb(43, 134, 105);
    }

    .navbar a.active {
        font-weight: bold; /* Style for active menu item if needed */
        color: rgb(10, 250, 174);
    }
}
