/* General styles for the main section */
.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(-45deg, #0b4b51, #04203b);
}


/* Container styles within the main section */
.section1 .conatiner{
    display: flex;
    justify-content: space-around;
}

/* Styles for the introductory content */
.section1 .intro {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    padding: 7em;
}

/* Heading 1 styles */
.section1 .intro h1 {
    color: #ffffff;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 3em;
}

/* Heading 2 styles */
.section1 .intro h2 {
    color: #ffffff;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Paragraph styles */
.section1 .intro p {
    color: #f7f7f7;
    font-weight: 100;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Styles for the 'me' section */
.me {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 1em;
    padding-bottom: 2vh;

}

.section1 .logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    list-style: none;
}


/* Styles for the connect section */
.section1 .connect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;

}

/* Logo image styles */
.section1 .connect .logo img {
    display: flex;
    height: 50%;
    width: 100%;
    max-height: 3em;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 8px 16px rgba(0, 0, 0, 0.1),
                0 16px 24px rgba(0, 0, 0, 0.1),
                0 32px 48px rgba(0, 0, 0, 0.1);
}

/* Hover effect for logo images */
.section1 .connect .logo img:hover {
    border-radius: 0;
    background-color: rgb(10, 250, 174);
    box-shadow: 0 0 12px #00ffeaef,
                0 0 8px #117acf,
                0 0 4px #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 20px;
}

/* Contact information styles */
.section1 .contact-info {
    
    margin-top: 2em;
    font-size: 12px;
    padding: 1em;
    display: none;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(15, 27, 57);
    border-radius: 30px;
    transition: all 0.3s ease;

 
}

/* Contact info hover effect */
.section1 .contact-info:hover {
    background-color: rgba(69, 136, 255);
}


/* Mobile-specific styles */
@media only screen and (max-width: 1000px) {
   
    /* Re-adjusting styles for the main section */
    .section1 {
        flex-direction: column;
        margin-top: 0;
    }

    /* Adjusting styles for the introductory content */
    .section1 .intro {
        align-items: center;
        width: 90%; /* Utilize full width */
        text-align: left; /* Center-align text for better readability */
        padding: 1em; /* Add padding for better spacing */
        padding-top:2em ;
    }

    /* Adjusting styles for the 'me' section */
    .section1 .me {
        width: 100%; /* Utilize full width */
        
    }

    .section1 .logos{
        width: 90%;
        padding: 0;
        margin: 0;
      
       
    }
    /* Adjusting styles for the logo images in the connect section */
    .section1 .connect .logo img {
        display: block; /* Make the images block-level */
        margin: 0 auto; /* Center-align images */
        max-height: 3rem;
        border-radius: 50%; /* Use 50% for a circular border radius */
        width: 100%; /* Adjust width for better responsiveness */
        max-width: 100%; /* Ensure images don't exceed their container */
        height: auto;
        transition: transform 0.36s ease-in-out, box-shadow 0.36s ease-in-out, opacity 0.36s ease-in-out, background-color 0.36s ease-in;
    }

    /* Adjusting styles for the connect section */
    .section1 .connect {
        display: flex;
        flex-direction: row; /* Adjust flex direction for better layout */
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1em;
    }

    /* Adjusting styles for Heading 1 in mobile view */
    .section1 .intro h1 {
        margin: 0;
        padding: 0;
        font-size: 2em; /* Increase font size for Heading 1 */
        font-weight: 600; /* Increase font weight for Heading 1 */
    }

    /* Adjusting styles for Heading 2 in mobile view */
    .section1 .intro h2 {
        margin-top: 10px; /* Adjust top margin for Heading 2 */
        margin-bottom: 10px; /* Adjust bottom margin for Heading 2 */
        padding: 0;
        font-size: 1.5em; /* Adjust font size for Heading 2 */
        font-weight: 500; /* Adjust font weight for Heading 2 */
    }

    /* Adjusting styles for paragraphs in mobile view */
    .section1 .intro p {
        font-weight: 400;
        font-size: 1em;
        margin: 10px 0;
        padding: 0;
    }
}
