/* Base styles */
:root {
    --section-background-2: linear-gradient(-90deg, #ff5f6d, #ffc371);
    --accent-color: rgb(74, 127, 133);
    --card-bg-c: rgba(207, 207, 207, 0.132); /* Background color for project cards */
    --card-font-col: #ffffff; /* Font color for project cards */
    --project-heading: rgb(10, 250, 174); /* Color for project heading */
    --project-tags: #ffffff; /* Color for project tags */
    --project-completion-col: #b0b0b0; /* Color for completion date */
    --active-card-bg: #0e2030; /* Background color for active/focused project card */
    --project-heading-onclick: rgb(10, 250, 154); /* Color for project heading on click */
    --logo-color: invert(44%) sepia(21%) saturate(704%) hue-rotate(138deg) brightness(98%) contrast(91%);
}

/* Dark mode */
:root.dark-mode {
    --section-background-2: linear-gradient(-90deg, #0a525a, #08292d);
    --accent-color: rgb(34, 158, 140);
    --logo-color: invert(78%) sepia(75%) saturate(716%) hue-rotate(104deg) brightness(98%) contrast(89%);
}

/* Timeline Section */
.timeline-section {
    padding: 0; /* Remove default padding */
    background: var(--section-background-2);
    color: var(--background-color-intro);
}

/* Timeline Container */
.timeline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%; /* Occupy 95% of available space */
    margin: 0 auto; /* Center the container */
}

/* Timeline Item */
.timeline-item {
    flex: 0 0 calc(50% - 20px); /* Adjusted width for all devices */
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.timeline-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* University Name */
.university-name {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

/* Course List */
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Course Link */
.course-list a {
    text-decoration: none;
    color: #555;
    padding: 10px 15px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 16px;
    margin: 5px;
    display: inline-block; /* Ensure links are clickable on mobile devices */
    
}

.course-list a:hover {
    background-color: var(--accent-color);
    color: white;
}

/* Logo styles */
.college-logo {
   display: none;
}

.college-logo.hccc-logo {
    filter: var(--logo-color);
    height: 80px;
}

@media (max-width: 768px) {
    .timeline-item {
        flex-basis: 85%; /* Set item width to 85% for smaller screens */
        margin: 5px auto; /* Center the item horizontally with small margin */
        position: relative; /* Position the logo container relative to the timeline item */
    }

    .college-logo {
        max-width: 120px; /* Adjust the width as needed */
        height: 80px; /* Maintain aspect ratio */
        display: flex; /* Use flexbox */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
        border-radius: 8px; /* Make the logo circular */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Apply box shadow only at the bottom */
        transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
        position: relative; /* Position the logo relative to its parent */
        top: 5%; /* Adjust the top position */
        left: 50%; /* Position the logo at the horizontal center of its parent */
        transform: translateX(-50%); /* Center the logo horizontally using translation */
        margin-bottom: 50px;
        margin-top: 0px;
    }

    /* Adjust box shadow on hover */
    .college-logo:hover {
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
    }

    .university-name {
        display: none; /* Hide the university name on smaller screens */
    }
}








