/* Dark Mode Colors */
:root.dark-mode {
	--section-background: linear-gradient(-425deg, #0a525a, #08292d);
	--background-color: #000000;
	--text-color: #ffffff;
	--accent-color: #229e8c;
	--accent-color2: #7b9cb6;
	--accent-color3: #7e7e7e;
	
	--font-color-paragraph: white;
	--line-color: white;
	--box-shadow: rgba(0, 0, 0, 0.2);
	--button-bg-color: #0eedcb;
	--button-color:rgb(0, 0, 0);
	--logo-color:invert(78%) sepia(75%) saturate(716%) hue-rotate(104deg) brightness(98%) contrast(89%);
	

}

/* Light Mode Colors */
:root {
	--section-background: linear-gradient(-425deg, #ff5f6d, #ffc371);
	--background-color: #f9f9f9;
	--text-color: #333333;
	--accent-color:  rgb(74, 127, 133);
	--accent-color2:  rgb(74, 127, 133);
	--accent-color3:  rgb(74, 127, 133);
	--hover-color:var(white);
	--font-color-paragraph: #666666;
	
	--line-color: #136e7c;
	--box-shadow: rgba(133, 74, 74, 0.1);
	--button-color:white;
	--button-bg-color: var(--accent-color);
	--logo-color: invert(44%) sepia(21%) saturate(704%) hue-rotate(138deg) brightness(98%) contrast(91%);
	--logo-color-hover:invert(100%) sepia(100%) saturate(0%) hue-rotate(256deg) brightness(104%) contrast(101%);

}

.section3 {
    background:var(--section-background);
    width: 100%;
    padding-bottom: 1em;
}

.section3 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

.section3 ul li {
    list-style-type: none;
    margin-bottom: 2vh;
    padding: 8px;
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0);
    touch-action: manipulation; /* Added for touch interactions */
}

.section3 ul li a {
    padding: 2vh;
    transition: background-color 0.3s, color 0.3s;
}

.section3 li:hover {
    border: solid 2px white;
}

.programmingLang li:hover,
.programmingLang li a:active {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #ffffff;
}

.databaseSystems li:hover,
.databaseSystems li a:active{
    background: linear-gradient(to right, #f2994a, #f2c94c);
    color: #fff;
}

.webTechnologies li:hover,
.webTechnologies li a:active {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: #fff;
}

.section3 ul li:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.334);
    transform: scale(1.10);
}

.space {
    display: none;
}

/* ... Your existing styles ... */

@media only screen and (max-width: 768px) {
    .space {
        display: block;
    }

    .section3 h1 {
        margin-bottom: 0;
    }

    .section3 .SkillsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 2vh;
        width: 90%;
    }

    .section3 .SkillsContainer ul {
        padding: 0;
        margin: 0;
    }

    .section3 .SkillsContainer ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        touch-action: manipulation; /* Added for touch interactions */
    }

    .section3 .SkillsContainer ul li a {
        padding: 10px;
        margin: 3px;
        border-radius: 30px;
        background-color: #4e54c800;
        color: #f4f4f4;
        display: block;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        touch-action: manipulation; /* Added for touch interactions */
    }
    .active {
    background-color: #ffffff; /* Change background color on click */
    color: #000000; /* Change text color on click */
}
}
