/* Dark Mode Colors */
:root.dark-mode {
	--section-background: linear-gradient(-425deg, #023e58,
        #021d30);
}

/* Light Mode Colors */
:root {
    --section-background: linear-gradient(-135deg, #ff5f6d, #ffc371);
}

.section3 {
    background:var(--section-background);
    width: 100%;
    padding-bottom: 1em;
}

.section3 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

.section3 ul li {
    list-style-type: none;
    margin-bottom: 2vh;
    padding: 8px;
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0);
    touch-action: manipulation; /* Added for touch interactions */
}

.section3 ul li a {
    padding: 2vh;
    transition: background-color 0.3s, color 0.3s;
}

.section3 li:hover {
    border: solid 2px white;
}

.programmingLang li:hover,
.programmingLang li a:active {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #ffffff;
}

.databaseSystems li:hover,
.databaseSystems li a:active{
    background: linear-gradient(to right, #f2994a, #f2c94c);
    color: #fff;
}

.webTechnologies li:hover,
.webTechnologies li a:active {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: #fff;
}

.section3 ul li:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.334);
    transform: scale(1.10);
}

.space {
    display: none;
}

/* ... Your existing styles ... */

/* ... Existing CSS rules ... */

@media only screen and (max-width: 768px) {
    .space {
        display: block;
        margin-bottom: 1em; /* Add margin bottom for spacing */
    }

    .section3 h1 {
        margin-bottom: 0em; /* Adjust margin for heading */
    }

    .section3 .SkillsContainer {
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        flex-direction: column;
        margin: 0 auto; /* Center align and remove left margin */
        width: 90%;
        max-width: 90%; /* Limit width for smaller screens */
    }

    .section3 .SkillsContainer ul {
        padding: 8px;
        margin: 0;
    }

    .section3 .SkillsContainer ul li {
        margin: -4px;
        padding: 2px;
    }

    .section3 .SkillsContainer ul li a {
        padding: 3px 5px; /* Increase padding for better touch interaction */
        margin: 3px;
        border-radius: 30px;
        background-color: #4e54c800;
        color: #f4f4f4;
        display: block;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        touch-action: manipulation; /* Added for touch interactions */

    }

    .active {
        background-color: #ffffff; /* Change background color on click */
        color: #000000; /* Change text color on click */
    }
}

