.section2 {
  background: linear-gradient(-135deg, #0b4b51, #0b3861);
  color: white;
  position: relative;
}

.section2 h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
  position: relative;
}

  .expand-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(-50%);
    margin-bottom:10px ;
    background-color: rgba(0, 0, 0, 0);
    color: white;  
    height: 3vh; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: jump 1s infinite ease;
    text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.503),
                0 -8px 16px 0 rgba(0,0,0,0.19);
}

  @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }


  .timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    position: relative; /* Added position relative for centering */
  }

.timeline-line {
    width: .1px;
    position: absolute;
    height: 90%;
    background-color:#04eff8;
    z-index: 1;
    border-radius: 20em;
    box-shadow: 0 0 12px #ffffffef,
                0 0 8px #ffffff,
                0 0 4px #ffffff;
}

.timeline-node-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 45%;

  }

.timeline-node-container .course-details:hover {
  background-color: rgba(8, 19, 63, 0.573);
  transition: background-color .2s ease-in-out;
  
  box-shadow: 0 0 12px #ffffffcf;
  cursor: pointer;
    
}

.course-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    background-color: rgba(207, 207, 207, 0.132);
    z-index: 2;
    color: rgb(237, 226, 226);
    border-radius: 30px;
    margin: 1em;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease; /* CSS transition for sliding effect */
    transform: translateY(1);
     
}

.course-details h1{
    margin-top: 0;   
}
.course-details ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: .5em;
    margin-top: 0;

}

.course-details ul li {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px;
    background-color: rgba(207, 207, 207, 0.132);
    border-radius: 30px;
    padding: 10px;
  
    font-size: small;
}

.timeline-node-container:nth-child(even) {
  justify-content: flex-start;

}

.timeline-node-container:nth-child(odd) {
  justify-content: flex-end;
}


#CurrTerm:hover{
  transition: background-color .3s ease,
  box-shadow .3s ease;
  transform: translateY(1);
  box-shadow: 0 0 16px #96ff4bef,
              0 0 12px #5eae25ef,
              0 0 8px #ffffffef;

}

@media (max-width: 1500px) {
  .timeline-line {
    left: 20%;
    height: 90%;
  }

  .section2 .expand-button {
    margin-bottom: 5px;
  }

  .timeline-node-container .course-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .timeline-line {
    left: 2em;
    height: 90%;
    border: 1px solid rgb(0, 255, 187);
  }

  .section2 .expand-button {
    margin-bottom: 5px;
  }

  .timeline-node-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .timeline-node-container .course-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}