/* General styles for the main section */
.section1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(-45deg, #0b4b51, #04203b);  

}

/* Container styles within the main section */
.section1 .conatiner{
    display: flex;
    justify-content: space-around;
}

/* Styles for the introductory content */
.section1 .intro {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 5em;
    margin-bottom: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
    0 8px 16px rgba(0, 0, 0, 0.1),
    0 16px 24px rgba(0, 0, 0, 0.1),
    0 32px 48px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: rgba(27, 27, 27, 0.21);

    animation: slideInLeft 1s ease-in-out;

    animation-fill-mode: both;

}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

/* Heading 1 styles */
.section1 .intro h1 {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: 3em;
    position: relative;

    /* Gradient background with text clip */
    background: linear-gradient(to right, #24b435, #00c8ff);
    -webkit-background-clip: text;
    color: transparent;

    /* Adding a subtle text shadow for depth */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   
    /* Animation for a subtle pulsating effect */
    animation: pulsate 2s;

}

@keyframes pulsate {
    0% {
        transform: scale(1.8);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Heading 2 styles */
.section1 .intro h2 {
    color: #ffffff;
    margin-top: 2vh;
    margin-bottom: 2vh;
    /* Underline effect on hover for emphasis */
    position: relative;
}

.section1 .intro h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
   /* Gradient background with text clip */
   background: linear-gradient(to right, #24b435, #00c8ff);
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.section1 .intro h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Paragraph styles */
.section1 .intro p {
    color: #f7f7f7;
    font-weight: 300;
    font-size: 1.2rem; /* Adjusted font size */
    line-height: 1.6;
    margin-top: 2vh;
    margin-bottom: 2vh;
    opacity: 0.8;

    /* Adding a subtle fade-in effect on scroll */
    animation: fadeIn 1s ease-in-out;
 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}


/* Styles for the 'me' section */
.me {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 1em;
    padding-bottom: 2vh;
    
}

.section1 .logos{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
    gap: 3rem;
    width: 100%;
    list-style: none;

}


/* Styles for the connect section */
.section1 .connect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;

}

/* Logo image styles */
.section1 .connect .logo img {
    display: flex;
    height: 50%;
    width: 100%;
    max-height: 3em;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 8px 16px rgba(0, 0, 0, 0.1),
                0 16px 24px rgba(0, 0, 0, 0.1),
                0 32px 48px rgba(0, 0, 0, 0.1);
    animation: popUp 0.5s ease-in-out forwards;
 

}
@keyframes popUp {
    0% {
        background-color: #00d9ff;
        transform: scale(0.001); /* Start with a smaller size */
    }
    70%{
        opacity: 0.9;
    }
    100% {
        transform: scale(1.2); /* Gradually return to the original size */
        
    }
}

/* Hover effect for logo images */
.section1 .connect .logo img:hover {
    border-radius: 0;
    background-color: rgb(10, 250, 174);
    box-shadow: 0 0 12px #00ffeaef,
                0 0 8px #117acf,
                0 0 4px #ffffff;
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 7px;
}
.section1 .connect .logo:nth-child(1) img {
    animation-delay: 0.1s;
}
.section1 .connect .logo:nth-child(2) img {
    animation-delay: 0.15s;
}
.section1 .connect .logo:nth-child(3) img {
    animation-delay: 0.2s;
}
.section1 .connect .logo:nth-child(4) img {
    animation-delay: 0.25s;
}
.section1 .connect .logo:nth-child(5) img {
    animation-delay: 0.3s;
}

/* Contact information styles */
.section1 .contact-info {
    
    padding-top: 4em;
    font-size: 12px;
    padding: 1em;
    display: none;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(15, 27, 57);
    border-radius: 30px;
    transition: all 0.3s ease;

 
}

/* Contact info hover effect */
.section1 .contact-info:hover {
    background-color: rgba(69, 136, 255);
}


/* Mobile-specific styles */
@media only screen and (max-width: 1000px) {
   
    /* Re-adjusting styles for the main section */
    .section1 {
        flex-direction: column;
    }

    /* Adjusting styles for the introductory content */
    .section1 .intro {
        align-items: center;
        width: 90%; /* Utilize full width */
        text-align: left; /* Center-align text for better readability */
        padding: 1em; /* Add padding for better spacing */
        padding-top:4em ;

        animation: slideInTop 1.5s ease-in-out;
        animation-fill-mode: both;
    }

    /* Animation keyframes for smaller screens */
    @keyframes slideInTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }


    /* Adjusting styles for the 'me' section */
    .section1 .me {
        width: 100%; /* Utilize full width */
        
    }

    .section1 .logos{
        width: 90%;
        padding: 0;
        margin: 0;
        gap: 1em;
        justify-content: space-between;
    }
    /* Adjusting styles for the logo images in the connect section */
    .section1 .connect .logo img {
        display: block; /* Make the images block-level */
        margin: 0 auto; /* Center-align images */
        max-height: 3rem;
        border-radius: 80%; /* Use 50% for a circular border radius */
        width: 80%; /* Adjust width for better responsiveness */
        max-width: 100%; /* Ensure images don't exceed their container */
        height: auto;
        transition: transform 0.36s ease-in-out, box-shadow 0.36s ease-in-out, opacity 0.36s ease-in-out, background-color 0.36s ease-in;
    }

    /* Adjusting styles for the connect section */
    .section1 .connect {
        display: flex;
        flex-direction: row; /* Adjust flex direction for better layout */
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 1em;
    }

    /* Adjusting styles for Heading 1 in mobile view */
    .section1 .intro h1 {
        margin: 0;
        padding: 0;
        font-size: 2em; /* Increase font size for Heading 1 */
        font-weight: 600; /* Increase font weight for Heading 1 */
    }

    /* Adjusting styles for Heading 2 in mobile view */
    .section1 .intro h2 {
        margin-top: 10px; /* Adjust top margin for Heading 2 */
        margin-bottom: 10px; /* Adjust bottom margin for Heading 2 */
        padding: 0;
        font-size: 1.5em; /* Adjust font size for Heading 2 */
        font-weight: 500; /* Adjust font weight for Heading 2 */
    }

    /* Adjusting styles for paragraphs in mobile view */
    .section1 .intro p {
        font-weight: 400;
        font-size: 1em;
        margin: 10px 0;
        padding: 0;
    }
}
