:root.dark-mode {
    --section-background-4: linear-gradient(-45deg, #0a525a, #08292d);
    --accent-color: #229e8c;
    --card-bg: #0c0c0c52; /* Background color for project cards */
    --card-font-col: #ffffff; /* Font color for project cards */
    --project-heading: #0af7d9; /* Color for project heading */
    --project-tags: #ffffff; /* Color for project tags */
    --project-completion-col: #b0b0b0; /* Color for completion date */
    --active-card-bg: #07335c; /* Background color for active/focused project card */
    --project-heading-onclick: rgb(10, 250, 154); /* Color for project heading on click */
}

:root {
    --section-background-4: linear-gradient(-135deg, #ff5f6d, #ffc371);
    --accent-color: rgb(36, 104, 114);
    --card-bg: var(--accent-color); /* Background color for project cards */
    --card-font-col: #ffffff; /* Font color for project cards */
    --project-heading: rgb(10, 250, 174); /* Color for project heading */
    --project-tags: #ffffff; /* Color for project tags */
    --project-completion-col: #b0b0b0; /* Color for completion date */
    --active-card-bg: #07335c; /* Background color for active/focused project card */
    --project-heading-onclick: rgb(10, 250, 154); /* Color for project heading on click */
}



.section4 {
    background: var(--section-background-4);
}



.section4 .projects-type {
  margin: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

/* Project Card Styles */
.section4 .project {
  margin: 1vh;
  max-width: 350px;
  text-align: center;
  border-radius: 50px;
  background-color:var(--card-bg);
  color: var(--card-font-col);
  font-weight: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding: 2vh;
}

/* Hover Effect on Project Card */
.section4 .project:hover {
  transform: scale(1.02) translateY(-3px);
  box-shadow: 0 4px 8px rgba(247, 245, 245, 0.334);
  cursor: pointer;
}

/* Change color on hover for project heading */
.section4 .project:hover .project-heading,
.section4 .project:hover .fullDescriptionButton {
  color: var(--project-heading);
}


.section4 .project-heading {
  padding-top: 1vh;
  margin-top: 5px;
  margin-bottom: 0;
}

.section4 .project .project-meta {
  flex-grow: 1;
  overflow: hidden;
  scrollbar-width: 0;
  display: flex;
  flex-direction: column;
  margin: 2vh;
}

/* Tags Styling */
.section4 .project .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 2vh;
}

.section4 .project .tags a {
  font-size: small;
  padding: vh;
  border-radius: 20px;
  margin: 1vh;
  text-decoration: none;
  color: var(--project-tags);
  transition: background-color 0.2s ease-in-out;
}

.section4 .project .project-meta::-webkit-scrollbar {
  width: 0;
}

/* Status Tag Styles */
.status-tag {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px; /* Add spacing between status tag and completion date */
}

/* Completion Date Styles */
.completion-date {
  margin-top: 10px;
  font-style: italic;
  color: var(--project-completion-col);
}

.section4 .project:active,
.section4 .project:focus {
  transform: scale(0.98) translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

/* Change color on touch for project heading */
.section4 .project:active .project-heading,
.section4 .project:focus .project-heading {
  color: rgb(10, 250, 154);
  
}

.fullDescriptionButton{
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 30px; /* Adjust the font size as needed */
    border: none; /* Remove border */
    cursor: pointer;
    transition: color 0.3s; /* Add transition effect */
}
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    z-index: 1000;
}

.left-panel {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.left-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-panel {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

.project-details {
    margin-top: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ff0000;
    cursor: pointer;
}

/* Hide scrollbar for right panel */
.right-panel::-webkit-scrollbar {
    display: none;
}


/* Media query for phones */
@media only screen and (max-width: 600px) {
  .section4 .project {
    max-width: 80%;
    padding: vh;
    margin: 0.8vh;
  }

  .section4 .project-heading {
    font-size: 1.2em; /* Adjust heading font size for phones */
    padding-top: 0vh;
    margin-top: 2vh;
  }

  .section4 .project .tags {
    margin-bottom: 1vh;
  }

  .section4 .project .tags a {
    font-size: smaller;
    padding: 0.5vh;
    margin: 0.5vh;
  }

  .section4 .project .project-meta {
    margin: 1vh;
    margin-bottom: 0;
  }

  .section4 .project .project-meta p {
    font-size: small;
  }

  /* Adjust heading alignment for smaller screens */
  .section2 h1,
  .section3 h1,
  .section4 h1 {
    text-align: left;
    padding-left: 5vh;
  }

  /* Touch Effect on Project Card for Phones */
  .section4 .project:active,
  .section4 .project:focus {
    transform: scale(0.98) translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  /* Change color on touch for project heading */
  .section4 .project:active .project-heading,
  .section4 .project:focus .project-heading {
    color: var(--project-heading-onclick);
    
  }

  .section4 .project:active,
  .section4 .project:focus{
    background-color: var(--active-card-bg);
    
  }
}
