/* Base styles */
:root {
    --section-background-2: linear-gradient(-90deg, #ff5f6d, #ffc371);
    --accent-color: rgb(74, 127, 133);
    --card-bg-c: rgba(207, 207, 207, 0.132); /* Background color for project cards */
    --card-font-col: #ffffff; /* Font color for project cards */
    --project-heading: rgb(10, 250, 174); /* Color for project heading */
    --project-tags: #ffffff; /* Color for project tags */
    --project-completion-col: #b0b0b0; /* Color for completion date */
    --active-card-bg: #0e2030; /* Background color for active/focused project card */
    --project-heading-onclick: rgb(10, 250, 154); /* Color for project heading on click */
}

/* Dark mode */
:root.dark-mode {
    --section-background-2: linear-gradient(-90deg, #0a525a, #08292d);
    --accent-color: rgb(34, 158, 140);
}

/* Timeline Section */
.timeline-section {
    padding: 20px; /* Padding for all devices */
    background: var(--section-background-2);
    color: var(--background-color-intro);
}

/* Timeline Container */
.timeline-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Timeline Item */
.timeline-item {
    flex: 0 0 calc(50% - 20px); /* Adjusted width for all devices */
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.timeline-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* University Name */
.university-name {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

/* Course List */
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Course Link */
.course-list a {
    text-decoration: none;
    color: #555;
    padding: 10px 15px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 16px;
    margin: 5px;
    display: inline-block; /* Ensure links are clickable on mobile devices */
}

.course-list a:hover {
    background-color: var(--accent-color);
    color: white;
}


/* Responsive Layout */
@media (max-width: 768px) {
    .timeline-item {
        flex-basis: calc(80%); /* Adjusted width for smaller screens to display side by side */
    }

    .university-name {
        font-size: 18px; /* Reduced font size for smaller screens */
    }
}