.section3 {
    background: linear-gradient(-425deg, #04656e, #07335c);
    width: 100%;
    padding-bottom: 1em;
}

.section3 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 0;
}

.section3 ul li {
    list-style-type: none;
    margin-bottom: 2vh;
    padding: 8px;
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: white;
    border: solid 2px rgba(255, 255, 255, 0);
    touch-action: manipulation; /* Added for touch interactions */
}

.section3 ul li a {
    padding: 2vh;
    transition: background-color 0.3s, color 0.3s;
}

.section3 li:hover {
    border: solid 2px white;
}

.programmingLang li:hover,
.programmingLang li a:active {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #ffffff;
}

.databaseSystems li:hover,
.databaseSystems li a:active{
    background: linear-gradient(to right, #f2994a, #f2c94c);
    color: #fff;
}

.webTechnologies li:hover,
.webTechnologies li a:active {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    color: #fff;
}

.section3 ul li:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.334);
    transform: scale(1.10);
}

.space {
    display: none;
}

/* ... Your existing styles ... */

@media only screen and (max-width: 768px) {
    .space {
        display: block;
    }

    .section3 h1 {
        margin-bottom: 0;
    }

    .section3 .SkillsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 2vh;
        width: 90%;
    }

    .section3 .SkillsContainer ul {
        padding: 0;
        margin: 0;
    }

    .section3 .SkillsContainer ul li {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        touch-action: manipulation; /* Added for touch interactions */
    }

    .section3 .SkillsContainer ul li a {
        padding: 10px;
        margin: 3px;
        border-radius: 30px;
        background-color: #4e54c800;
        color: #f4f4f4;
        display: block;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        touch-action: manipulation; /* Added for touch interactions */
    }
}
