

.navbar {
    top:0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.392);
    right: 0;
    backdrop-filter: blur(50px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap:5vh;
    margin: 2px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    padding-bottom: 2px;
    
}

.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: solid 2px rgba(10, 10, 10, 0);
    border-radius: 30px;
    
}

.navbar a:hover {
    transform: scale(0.95);

   background-color: rgba(255, 255, 255, 0);
   color:rgba(255, 255, 255, 0.901);
    border: solid 2px  #ffffff;
    border-radius: 20px;        
}




.navbar a:focus,
.navbar a:active {
    background-color: rgb(255, 255, 255);
    color: rgb(52, 8, 97);
    border: solid 2px #ffffffe0;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 1s ease;
}